<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Westheimer&mdash;<%= @article[:metadata]["title"] %></title>
  </head>
  <body>
    <div class="title">
      <h1><a href="/">Westheimer</a></h1>
    </div>
    <div class="article">
      <h1><a href="/article/<%= @article[:metadata]["slug"]%>"><%= @article[:metadata]["title"] %></a></h1>
      <h2><%= @article[:metadata]["author"] %></h2>
      <h2><%= DateFormat.format!(@article[:metadata]["date"], "{ISO}") %></h2>
      <%= @article[:contents] %>
    </div>
  </body>
</html>
